@import "../../_globalColor";

.education-heading {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.education-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  margin-top: 2rem;
}

.education-section > * {
  flex: 1;
  margin-bottom: 30px;
}

.education-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.education-text-subtitle {
  max-width: 760px;
}

@media (max-width: 1380px) {
  .education-card-container {
    padding-top: 0;
  }

  .education-heading {
    font-size: 38px;
  }

  .education-text-subtitle {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .education-card-container {
    padding-top: 0;
  }

  .education-heading {
    font-size: 30px;
    text-align: center;
  }

  .education-text-subtitle {
    font-size: 16px;
  }
}
