@import "../../_globalColor";

.achievement-heading {
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.achievement-subtitle {
  text-transform: none;
  margin: 0 0 36px;
}

.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }

  .achievement-subtitle {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
}
